/* NavBar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 500ms ease-in-out;
  transform: translateY(-50%);
  opacity: 0;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }


  &>ul {
    align-items: center;
    display: flex;
    gap: 0.65rem;
    padding: 1.25rem;
    margin: 0px;

    &>li {
      cursor: pointer;
    }
  }

  &>ul.social_media>li {
    width: 1.5rem;

    &>svg {
      transition: all 500ms ease-in-out;
    }

    &:hover>svg {
      fill: var(--foreground);
    }
  }

  &>ul.tab>li {
    transition: all 500ms ease-in-out;
    color: gray;
    font-weight: bold;

    &:hover {
      color: var(--foreground);
    }
  }
}

#heropage-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*heroPage*/
.heropage {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  text-align: center;
  transition: all 500ms ease-in-out, color 1.25s ease;
  transform: translateY(100px);
  opacity: 0;
  color: gray;
  position: relative;

  &.show {
    transform: translateY(0px);
    opacity: 1;
    color: var(--foreground);
  }

  &>* {
    padding: 0px;
    margin: 0px;
  }

  &>h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  &>p {
    font-size: 0.75rem;
  }
}

/*About*/
.about {
  &>h1 {
    width: 100vw;
    padding: 0px;
    text-align: center;
  }

}

.about-content {
  padding: 0% 10%;
  display: flex;
  align-items: flex-start;

  &>img {
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    padding: 2% 0%;
  }
}

.about-me-text {
  text-wrap: balance;
  margin: 0px;
  padding: 2rem;
  hyphens: auto;


  &>i>b {
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    transition: color 250ms ease;
    color: inherit;

    &:hover {
      color: #fff;
    }

    &:hover::after {
      content: "";
      background-image: "";
      position: absolute;
      top: 75%;
      width: 2rem;
      border-radius: 4px;
      aspect-ratio: 1/1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(1),
    &:nth-child(14) {
      &:hover {
        color: #f9ed83;
      }

      &::after {
        background-image: url("/js.webp");
      }
    }

    &:nth-child(2),
    &:nth-child(15) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/react.webp");
      }
    }

    &:nth-child(3) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/vite.svg");
      }
    }

    &:nth-child(4) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/nextjs.svg");
      }
    }

    &:nth-child(5) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/nodejs.webp");
      }
    }

    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(16) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/python.svg");
      }
    }

    &:nth-child(8),
    &:nth-child(17) {
      &:hover {
        color: #f8c288;
      }

      &::after {
        background-image: url("/scikit-learn.webp");
      }
    }

    &:nth-child(9),
    &:nth-child(18) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/numpy.svg");
      }
    }

    &:nth-child(10)::after,
    &:nth-child(19)::after {
      background-image: url("/pandas.webp");
    }

    &:nth-child(11),
    &:nth-child(20) {
      &:hover {
        color: #f8c288;
      }

      &::after {
        background-image: url("/tensorflow.webp");
      }
    }

    &:nth-child(12),
    &:nth-child(21) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/c.webp");
      }
    }

    &:nth-child(13) {
      &:hover {
        color: #baf1ff;
      }

      &::after {
        background-image: url("/cpp.svg");
      }
    }
  }

}


.vm_icon {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
  background: var(--color-1);
  padding: 9px;
  cursor: pointer;
  transition: color 500ms ease;

  &:hover {
    background: color-mix(in srgb, var(--color-1) 90%, orange);
  }
}

.popup_bg {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.popup_vm {
  aspect-ratio: 1/1;
  width: 40vw;
  max-width: 400px;
  min-width: 250px;
  background: var(--background);
  border-radius: 1rem/1.05rem;
  padding: 10px;
}

@media (width <480px) {
  .heropage>p {
    font-size: 0.5rem;
  }
}
